.services {
    margin-top: $spacing-24;
    &__title {
        h2 {
            text-align: right;
            margin: $spacing-32 0;
            font-family: $font1;
            width: 70px;
            padding-bottom: $spacing-4;
            font-size: 4rem;
            color: $primary;
            border-bottom: 3px solid $primary;
            text-align: center;
        }

        @include breakpoint(md) {

        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include breakpoint(md) {
            flex-direction: row;
            justify-content: space-around;
            max-width: 1250px;
            // height: 100px;
            margin: 0 auto;
        }
    }
    }
.cards {
     height: 350px;
     width: 275px;
     border-radius: $spacing-20;
     margin: $spacing-12 0;
     box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: $light;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint(md) {
        height: 300px;
        width: 250px;
    }

    &:after {
        content: "";
        display: block;
        left: 10px;
        bottom: 15px;
        position: absolute;
        border: 1px solid $primary;
        width: 90%;
        height: 90%;
        border-radius: $spacing-20;
    }
    &__icons {
        font-size: 5rem;
        color: $primary;
    }
    &__title {
        font-size: 1.8rem;
    }
    &__text {
        font-family: $font2;
    }
}