@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.header {
  font-family: "Bebas Neue", cursive;
  height: 100px;
  width: 100%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  position: relative;
  z-index: 3;
  padding-bottom: 10px;
}

.header__content {
  padding: 0 2rem;
  overflow: hidden;
  color: white;
  margin: 0 auto;
  max-width: 1920px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 100;
  background-color: #e6b459;
}

@media (min-width: 768px) {
  .header__content {
    padding: 2rem 3rem 0 3rem;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    color: #e6b459;
    background-color: white;
  }
}

.header__content__logo {
  font-size: 2rem;
  margin-top: 5px;
  border: 1px solid #e6b459;
  padding: 5px 10px;
}

.header__content__nav {
  top: 0;
  width: 100%;
  right: 100%;
  bottom: 0;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: rgba(40, 44, 52, 0.9);
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header__content__nav {
    -webkit-transform: none;
            transform: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: transparent;
    width: auto;
    height: 100%;
    position: static;
  }
}

.header__content__nav ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .header__content__nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
    margin-right: calc(0.5rem + 16px);
  }
}

.header__content__nav ul li:not(:last-child) {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .header__content__nav ul li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 16px;
  }
}

.header__content__nav ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
  padding: 0.75rem 1.25rem;
  border-radius: 15px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.header__content__nav.isMenu {
  -webkit-transform: translate(100%);
          transform: translate(100%);
}

.header__content__toggle {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4rem;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  position: relative;
}

@media (min-width: 768px) {
  .header__content__toggle {
    display: none;
  }
}

.homepage {
  height: calc(100vh - 100px);
  font-size: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 48px auto 0 auto;
  position: relative;
}

@media (min-width: 768px) {
  .homepage {
    height: calc(100vh - 100px);
  }
}

.homepage:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #F2F2F2;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 50%, 0% 100%, 100% 0%);
          clip-path: polygon(100% 0%, 100% 100%, 50% 50%, 0% 100%, 100% 0%);
  z-index: -1;
  color: pink;
}

.homepage__title {
  margin: 0 0 0 44px;
}

.homepage__title h2 {
  font-size: 6rem;
  color: #e6b459;
  line-height: 5rem;
}

@media (min-width: 480px) {
  .homepage__title h2 {
    font-size: 8rem;
    line-height: 7rem;
  }
}

.homepage__content {
  margin: 0 0 0 44px;
}

.homepage__content h1 {
  font-size: 2.5rem;
}

.homepage__content p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
}

.homepage__buttons {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage__buttons__dark {
  height: 56px;
  width: 300px;
  margin: 0.5rem 0;
  background-color: #e6b459;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 52px;
}

@media (min-width: 768px) {
  .homepage__buttons__dark {
    height: 48px;
    width: 180px;
    margin: 0 0.5rem;
  }
}

.homepage__buttons__dark:hover {
  color: #e6b459;
  background-color: #EBC37A;
  color: white;
}

.homepage__buttons__dark:active {
  -webkit-animation-name: shutter-radial;
          animation-name: shutter-radial;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.homepage__buttons__light {
  height: 56px;
  width: 300px;
  margin: 0.5rem 0;
  background-color: white;
  border: 1px solid #e6b459;
  color: #e6b459;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 52px;
}

@media (min-width: 768px) {
  .homepage__buttons__light {
    height: 48px;
    width: 180px;
    margin: 0 0.5rem;
  }
}

.homepage__buttons__light:hover {
  color: #e6b459;
  background-color: #EBC37A;
  color: white;
}

.homepage__buttons__light:active {
  -webkit-animation-name: shutter-radial;
          animation-name: shutter-radial;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

@media (min-width: 768px) {
  .homepage__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.homepage__link ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.homepage__link ul li {
  margin-bottom: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.homepage__link ul li a {
  color: #464646;
  font-size: 2rem;
  padding: 2rem 1.25rem;
}

@-webkit-keyframes shutter-radial {
  from {
    background: #e6b459;
  }
  0% {
    background: #e6b459 radial-gradient(circle at center, #EBC37A 50%, #e6b459 50%) no-repeat center;
    background-size: 80%;
  }
  to {
    background: transparent radial-gradient(circle at center, #EBC37A 50%, #e6b459 50%) no-repeat center;
    background-size: 250%;
  }
}

@keyframes shutter-radial {
  from {
    background: #e6b459;
  }
  0% {
    background: #e6b459 radial-gradient(circle at center, #EBC37A 50%, #e6b459 50%) no-repeat center;
    background-size: 80%;
  }
  to {
    background: transparent radial-gradient(circle at center, #EBC37A 50%, #e6b459 50%) no-repeat center;
    background-size: 250%;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .contact {
    height: calc(100vh - 100px);
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../../assets/bg_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.contact__title {
  text-align: left;
  padding: 20px;
}

@media (min-width: 768px) {
  .contact__title {
    display: block;
    color: white;
    background-color: #e6b459;
    height: 350px;
    position: relative;
    z-index: 2;
    left: 80px;
  }
}

.contact__title h2 {
  font-family: "Bebas Neue", cursive;
  width: 70px;
  padding-bottom: 4px;
  font-size: 4rem;
  line-height: 3.2rem;
  color: #e6b459;
  border-bottom: 3px solid #e6b459;
}

@media (min-width: 768px) {
  .contact__title h2 {
    color: white;
    font-size: 5.5rem;
    line-height: 5rem;
    width: 250px;
    height: 150px;
    margin: 80px 80px 20px 20px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .form {
    position: relative;
    left: -80px;
  }
}

@media (min-width: 768px) {
  .form__content {
    padding: 60px 60px 60px 200px;
    background-color: white;
    width: 100%;
  }
}

.form__content button {
  height: 56px;
  width: 300px;
  margin: 0.5rem 0;
  background-color: #e6b459;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 52px;
}

@media (min-width: 768px) {
  .form__content button {
    height: 48px;
    width: 180px;
    margin: 0 0.5rem;
  }
}

.form__content button:hover {
  color: #e6b459;
  background-color: #EBC37A;
  color: white;
}

.form__content button:active {
  -webkit-animation-name: shutter-radial;
          animation-name: shutter-radial;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.input__placeholder {
  position: absolute;
  left: 20px;
  top: 22px;
  color: grey;
  -webkit-transition: -webkit-transform 120ms ease-in;
  transition: -webkit-transform 120ms ease-in;
  transition: transform 120ms ease-in;
  transition: transform 120ms ease-in, -webkit-transform 120ms ease-in;
}

.input__field {
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 300px;
}

.input__field:focus, .input__field:not(:placeholder-shown) {
  outline: none;
}

.input__field:focus + .input__placeholder, .input__field:not(:placeholder-shown) + .input__placeholder {
  background: white;
  padding: 0 0.4rem;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-name: moveOn;
          animation-name: moveOn;
  -webkit-transform: translateY(-120%) scale(0.9);
          transform: translateY(-120%) scale(0.9);
}

.input .input__size {
  height: 52px;
  border: 1px solid #e6b459;
  margin: 0.5rem 0;
  border-radius: 50px;
}

.input .textarea__size {
  font-family: "Roboto", sans-serif;
  padding-top: 15px;
  border: 1px solid #e6b459;
  margin: 0.4rem 0;
  border-radius: 20px;
  width: 300px;
}

@-webkit-keyframes moveOn {
  from {
    -webkit-transform: none;
            transform: none;
  }
  to {
    -webkit-transform: translateY(-120%) scale(0.9);
            transform: translateY(-120%) scale(0.9);
  }
}

@keyframes moveOn {
  from {
    -webkit-transform: none;
            transform: none;
  }
  to {
    -webkit-transform: translateY(-120%) scale(0.9);
            transform: translateY(-120%) scale(0.9);
  }
}

.works {
  width: 90%;
  display: block;
  margin: 50px auto 0 auto;
}

.works img {
  width: 400px;
}

.works img:hover {
  background-color: #e6b459;
}

.services {
  padding-top: 48px;
}

.services__title {
  padding: 20px;
  text-align: right;
}

.services__title h2 {
  font-family: "Bebas Neue", cursive;
  padding-bottom: 4px;
  font-size: 4rem;
  line-height: 3.2rem;
  position: relative;
}

.services__title h2:after {
  content: '';
  display: block;
  width: 70px;
  border-bottom: 3px solid #e6b459;
  position: absolute;
  right: 10px;
}

@media (min-width: 768px) {
  .services__title {
    height: calc(100vh - 100px);
  }
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .services__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 1250px;
    margin: 0 auto;
  }
}

.cards {
  height: 350px;
  width: 275px;
  margin: 12px 0;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e6b459;
  padding-bottom: 10px;
}

.cards:hover {
  border: none;
  background-color: white;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .cards {
    height: 300px;
    width: 250px;
  }
}

.cards__icons {
  font-size: 5rem;
  color: white;
  background-color: #e6b459;
  border-radius: 52px;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.cards__title {
  font-size: 1.8rem;
}

.cards__text {
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  font-family: "Bebas Neue", cursive;
}

.app {
  height: 100vh;
}

.app main {
  overflow-x: hidden;
  height: calc(100vh - 70px);
  position: relative;
}

.app main::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .app main {
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
  .app main > * {
    width: 100%;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
  }
}
