.projects {
display: flex;
flex-direction: column;
justify-content: center;
margin: $spacing-48 auto $spacing-80 auto;
&:after {
    content: '';
    display: block;
    position: absolute; 
    height: 100%;
    width: 100%;       
    background-color: #F2F2F2;
    clip-path: polygon(0% 20%, 100% 80%, 100% 90%, 0% 30%);
    z-index: -1;
}
    &__title {

        h2 {
            text-align: right;
            font-family: $font1;
            font-size: 3rem;
            position: relative;
            color: $primary;
            text-align: right;
            padding-right: $spacing-52;
            &:after {
                content:'';
                display: block;
                width: 70px;
                border-bottom: 3px solid $primary;
                position: absolute;
                right: $spacing-52;
            }
        }
    }

    ul {
        margin-top: $spacing-12;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        li {
            margin: $spacing-40;
            text-align: center;
            font-size: 1.2rem;
            position: relative;
            cursor: pointer;
            color: $darkest;
            transition: color 0.2s ease;
            &:after {
                content:'';
                display: block;
                position: absolute;
                width: 0%;
                height: 2px;
                background-color: $primary;
                transition: width 0.2s ease;
            }
            &:hover {
                &:after {
                    width: 100%;
                    transition: width 0.5s ease;
                }
            }
            &.active{
                color: $primary;
                &:after {
                    width: 100%;
                }
            }
        }
    }
}
.card__wrapper {
    display: none;
    @include breakpoint(sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    @include breakpoint (md) {
        flex-wrap: wrap;
        flex-direction: row;
    }

}
.card {
    display: none;
    @include breakpoint(sm) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__wrapper {
        height: 18rem;
        width: 12rem;
        overflow: hidden;
        box-shadow: 0 3px 10px #eee;
        background-color: $light;
        border-radius: $spacing-4;
        transition: transform 500ms ease-in;
        margin: 15px;
        @include breakpoint(md){
            &:hover {
                transform: scale(1.02);
                box-shadow: 0 3px 10px #ddd;
            }
          }
          a {
            text-decoration: none;
            color: $darkest;
          }
    }
    &__img {
        height: 12rem;
        width: 12rem;
        object-fit: cover;
    }
    &__title {
        padding: 0.5rem;
        text-align: center;
        font-size: 1rem;
      }
      &__description {
        font-family: $font2;
        font-size: 0.7rem;
        padding: 0 1rem;
      }
    &__icon {
        color: $primary;
        display: block;
        margin: 15px auto;
        font-size: 1.5rem;
    }
}
.slider__wrapper {
    width: 70%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 2px 10px #eee !important;
    .swiper-button-prev {
        color: transparent;
        &:after {
            // content:'';
            background: url(../../assets/arrow-left.svg);
            background-repeat: no-repeat;
            font-size: 4rem;
       }
    }
    .swiper-button-next {
        color: transparent;
        &:after {
            // content:url(../../assets/arrow-right.svg);
            background: url(../../assets/arrow-right.svg);
            background-repeat: no-repeat;
            font-size: 4rem;
       }
    }
}
.swiper-slide {
    height: 20rem !important;
    // width: 90% !important; 
    position: relative;
    overflow: hidden;
    background-color: $light;
    border-radius: $spacing-4;
    a {
        text-decoration: none;
        color: $darkest;
      }
    // margin: auto;
    @include breakpoint(sm) {
        display: none;
    }
    img {
        height: 12rem;
        width: 100%;
        object-fit: cover;

    }
    h3 {
        padding-top: 0.5rem;
        text-align: center;
        font-size: 1.1rem;
      }
    
      p {
        font-family: $font2;
        font-size: 0.7rem;
        padding: 1rem;
      }
      &__icon {
        color: $primary;
        display: block;
        margin:  1rem auto !important;
        font-size: 1.5rem;
    }
}
.hand__wrapper {
    width: 20px;
    height: 30px;
    border: 1px solid $primary;
    // position: relative;
    .hand {
        position: relative;
        bottom: 10px;
        left: 0;
        top: 0;
        z-index: 10;
        color: $darkest;
        font-size: 2rem;
        animation-duration: 1.5s;
        animation-name: swipe;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        @include breakpoint(sm) {
            display: none;
        }
    }
}

@keyframes swipe {
    0% {
        margin-left:10px
    }
    50% {
        margin-left: 60px;
    }
    100% {
        // margin-left: 60px;
        opacity: 0;
    }
}