.homepage {
    height: calc(100vh - 100px);
    font-size: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin: $spacing-48 auto 0 auto;
    position: relative;
    @include breakpoint(md) {
        height: calc(100vh - 100px);
    }
    &:after {
        content: '';
        display: block;
        position: absolute; 
        height: 100%;
        width: 100%;       
        background-color: #F2F2F2;
        clip-path: polygon(100% 0%, 100% 100%, 50% 50%, 0% 100%, 100% 0%);
        z-index: -1;
        color: pink;

    }
    &__wrapper{
        margin: $spacing-48 $spacing-44 0 $spacing-44;
        @include breakpoint(md) {
            margin: $spacing-48 $spacing-60 0 $spacing-60;
        }
    }
    &__title {
        // margin: 0 0 0 $spacing-44;
        // @include breakpoint(md) {
        //     margin: 0 0 0 $spacing-60;
        // }
         h2 {
            font-size: 6rem;
            color: $primary;
            line-height: 5rem;
            @include breakpoint(sm) {
                font-size: 9.5rem;
                line-height: 8rem;
            }
            @include breakpoint(md) {
                // margin:  $spacing-80;
            }
        }
    }
    &__content {
        // margin: 0 0 0 $spacing-44;
        // @include breakpoint(md) {
        //     margin: 0 0 0 $spacing-60;
        // }
        h1{
            font-size: 2.5rem;
        }
        p {
            font-family: 'Courier New', Courier, monospace;
            font-size: 1.5rem;
        }
    }
    &__buttons {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__dark {
            @include button()
        } 
        &__light {
            @include button($light, 1px solid $primary, $primary)
        }
        @include breakpoint(md) {
            flex-direction: row;
        }
    }
    &__link {
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            padding: 0;
            li {
                margin-bottom: 0;
                margin-right: 10px;
                margin-top: 10px;
                a {
                    color: $darkest;
                    font-size: 2rem;
                    padding: 2rem 1.25rem;
                }
            }
        }

    }
}

// .homepage {
//     // display: flex;
//     // flex-direction: column;
//     // align-items: center;
//     font-family: $font1;
//     width: 90%;
//     margin-top: 150px;
//     // padding-top: 50px;
//     // @include breakpoint(md) {
//     //     padding-top: 150px;
//     //     justify-content: baseline;
//     // }
//     &__title {
//             h2 {
//                 font-size: 7rem;
//                 color: $primary;
//                 line-height: 6rem;
//             }
//     }
// }
// .homepage__content {
//     &__presentation {
//         h1 {
//             font-family: $font1;
//             font-size: 2.5rem;
//             // display: flex;
//             // line-height: 0.1rem;
//             // flex-direction: column;
//             // margin: 0px 15px; 
//             color: $darkest;
//             line-height: 3rem;
//             // text-align: center;
//             margin-bottom: 0.8rem;

//             @include breakpoint(md) {
//                 text-align: left;
//             }
//         }
//     }
//     &__ityped {
//         p {
//             color: blue;
//             text-align: center;
//             font-family: 'Courier New', Courier, monospace;
//         }
//     }
//     &__buttons {
//         display: flex;
//         flex-direction: column;
        // &__dark {
        //     @include button()
        // } 
        // &__light {
        //     @include button($light, 1px solid $primary, $primary)
        // }
        // @include breakpoint(md) {
        //     flex-direction: row;
        // }

//     }
    // &__link {
    //     ul {
    //         list-style: none;
    //         display: flex;
    //         justify-content: center;
    //         padding: 0;
    //         li {
    //             margin-bottom: 0;
    //             margin-right: 10px;
    //             margin-top: 10px;
    //             a {
    //                 color: $darkest;
    //                 font-size: 2rem;
    //                 padding: 2rem 1.25rem;
    //             }
    //         }
    //     }

    // }
// }
@keyframes shutter-radial {
    from {
        background: $primary; 
    }
    0%{
        background: $primary radial-gradient(circle at center, $secondary 50%, $primary 50%) no-repeat center;
        background-size: 80%;
    }
    to {
        background: transparent radial-gradient(circle at center, $secondary 50%, $primary 50%) no-repeat center;
        background-size: 250%;
    }
}