@import './global';
@import './components/navbar/navbar';
@import './components/homepage/homepage';
@import './components/contact/contact';
@import './components/works/works';

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    font-family: $font1;
}

.app {
    height: 100%;
    main {
        overflow-x: hidden;
        height: calc(100vh - 100px);
        margin-top: -100px;
        position: relative;
        * > {
            width: 100%;
            height: calc(100vh + 100px);
        }
    }
}
