@import './global';
@import './components/navbar/navbar';
@import './components/homepage/homepage';
@import './components/contact/contact';
@import './components/works/works';
@import './components/services/services';

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    font-family: $font1;
}

.app {
    height: 100vh;
    main {
        overflow-x: hidden;
        height: calc(100vh - 70px);
        position: relative;
        // top: 70px;
        // background-color: pink;
        &::-webkit-scrollbar{
            display: none;
        }
        @include breakpoint(md){
            scroll-snap-type : y mandatory;
            scroll-behavior: smooth;
            > * {
                width: 100%;
                height: calc(100vh - 70px);
                scroll-snap-align: start;
            }
        }

    }
}
